{% extends "staff_dashboard/base.html" %}
{%load crispy_forms_tags%}
{% block content %}
<div class="content-section">
    <form method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="media">
            {%if app.prescription%}
                <img class="rounded-circle account-img" src="{{app.prescription.url}}">
            {%endif%}
            <div class=" media-body">
                <h2 class="account-heading">{{app.department}}</h2>
                <dl class="row">
                    <dt class="col-sm-3">Symptoms: </dt> <dd class="col-sm-9">{{app.symptoms}}</dd>
                    <dt class="col-sm-3">Patient: </dt> <dd class="col-sm-9"><a href="url 'staff-profiles' app.patient.username">{{app.patient.first_name}} {{app.patient.last_name}}</a></dd>
            </div>
        </div>
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Appointment</legend>
            {{form|crispy}}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" id="submit" type="submit">Submit</button>
        </div>
        <script>
            document.querySelector('#submit').onclick = function (e) {
            chatSocket.send(JSON.stringify({
                'message': 'refresh',
            }));
            }
            const chatSocket = new WebSocket(
                'ws://' +
                window.location.host +
                '/ws/apps/'
            );
        </script>
    </form>
</div>
{% endblock content %}