{% extends "staff_dashboard/base.html" %}
{%load crispy_forms_tags%}
{% block content %}
<div class="content-section">
    <h2 class="account-heading">{{view_user.first_name}} {{view_user.last_name}}</h2>
    <dl class="row">
        <dt class="col-sm-3">Gender: </dt> <dd class="col-sm-9">{{view_user.gender}}</dd>
        <dt class="col-sm-3">Phone: </dt> <dd class="col-sm-9">{{view_user.phone}}</dd>
        <dt class="col-sm-3">Email: </dt> <dd class="col-sm-9">{{view_user.email}}</dd>
        <dt class="col-sm-3">History of illness: </dt> <dd class="col-sm-9">{{view_user.patient.history_of_illness}}</dd>
        <dt class="col-sm-3">Appointments: </dt>
            <dd class="col-sm-9">
                <ul class="list-unstyled">
                    {%for app in apps%}
                        {%if not app.prescription%}
                            <li class="media">
                                <div class="media-body">
                                    <div class="article-metadata">
                                        <small class="text-muted">{{ app.date_posted|date:"d F, Y" }}</small>
                                    </div>
                                    <h2 class="article-title"><a href="{%url 'staff-apps' app.id%}">{{ app.department }}</a></h2>
                                    <p class="article-content">{{ app.symptoms }}</p>
                                </div>
                            </li>
                        {%else%}
                        <li class="media">
                            <img class="rounded-circle article-img" src="{{app.prescription.url}}">
                            <div class="media-body">
                                <div class="article-metadata">
                                    <small class="text-muted">{{ app.date_posted|date:"d F, Y" }}</small>
                                </div>
                                <h2 class="article-title"><a href="{%url 'staff-apps' app.id%}">{{ app.department }}</a></h2>
                                <p class="article-content">{{ app.symptoms }}</p>
                            </div>
                        </li>
                        {%endif%}
                    {%endfor%}
                </ul>
            </dd>    
        </li>
    </ul>
</div>
{% endblock content %}
{%block sidebar%}
<h3>Our Sidebar</h3>
<p class='text-muted'>
<ul class="list-group">
    {%for users in all_users%}
    <a class="list-group-item list-group-item-light-action"
        href="{%url 'staff-profiles' users.username%}">{{users.first_name}} {{users.last_name}}</a>
    {%endfor%}
</ul>
</p>
{%endblock sidebar%}