{% extends "patient_dashboard/base.html" %}
{%load crispy_forms_tags%}
{% block content %}
<div class="content-section">
    <h2 class="account-heading">{{view_user.first_name}} {{view_user.last_name}}</h2>
    <dl class="row">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-6">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" class="h4 pt-5">Chatroom</label>
                        <textarea class="form-control" id="chat-text" rows="10"></textarea><br>
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="input" type="text"></br>
                    </div>
                    <input class="btn btn-secondary btn-lg btn-block" id="submit" type="button" value="Send">
                </form>
            </div>
        </div>
    </div>
    {{ request.user.first_name|json_script:"user_first_name" }}
    {{ request.user.last_name|json_script:"user_last_name" }}
    {{ room_name|json_script:"room-name" }}
    <script>
        const user_first_name = JSON.parse(document.getElementById('user_first_name').textContent);
        const user_last_name = JSON.parse(document.getElementById('user_last_name').textContent);
        document.querySelector('#submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': user_first_name+" "+user_last_name+": "+message,
            }));
            messageInputDom.value = '';
        };
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
    
        const chatSocket = new WebSocket(
            'ws://' +
            window.location.host +
            '/ws/chat/' +
            roomName +
            '/'
        );
    
        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-text').innerHTML += (data.message)
        }
    </script>
</div>

{% endblock content %}
{%block sidebar%}
{%if search != ''%}
<h3>Our Sidebar<small><p class="fw-lighter">Results for "{{search}}"</p></small></h3>
{%else%}
<h3>Our Sidebar</h3>
{%endif%}
<form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<p class='text-muted'>
<ul class="list-group">
    {%for users in all_users%}
    <a class="list-group-item list-group-item-light-action"
        href="{%url 'patient-chat' cur_user.username|add:users.username%}">{{users.first_name}} {{users.last_name}}</a>
    {%endfor%}
</ul>
</p>
{%endblock sidebar%}