{% extends "patient_dashboard/base.html" %}
{%load crispy_forms_tags%}
{% block content %}
<div class="content-section">
    <h2 class="account-heading">{{user.first_name}} {{user.last_name}}</h2>
    <form method="POST">
        {%csrf_token%}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{u_form|crispy}}
            {{p_form|crispy}}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
    </form>
    <dl class="row">
        <dt class="col-sm-3">Appointments: </dt>
            <dd class="col-sm-9">
                <ul class="list-unstyled">
                    {%for app in apps%}
                        {%if not app.prescription%}
                            <li class="media">
                                <div class="media-body">
                                    <div class="article-metadata">
                                        <small class="text-muted">{{ app.date_posted|date:"d F, Y" }}</small>
                                    </div>
                                    <h2 class="article-title">{{ app.department }}<small class="text-muted">  (Doc preffered: {{ app.doc_name }})</small></h2>
                                    <p class="article-content">{{ app.symptoms }}</p>
                                </div>
                            </li>
                        {%else%}
                        <li class="media">
                            <img class="rounded-circle article-img" src="{{app.prescription.url}}"onclick= "window.open('{{app.prescription.url}}','_blank')">
                            <div class="media-body">
                                <div class="article-metadata">
                                    <small class="text-muted">{{ app.date_posted|date:"d F, Y" }}</small>
                                </div>
                                <h2 class="article-title">{{ app.department }}<small class="text-muted">  (Doc preffered: {{ app.doc_name }})</small></h2>
                                <p class="article-content">{{ app.symptoms }}</p>
                            </div>
                        </li>
                        {%endif%}
                    {%endfor%}
                </ul>
            </dd>    
        </li>
    </ul>
    <script>
        const chatSocket = new WebSocket(
            'ws://' +
            window.location.host +
            '/ws/apps/'
        );
    
        chatSocket.onmessage = function (e) {
            window.location.reload()
        }
    </script>
</div>
{% endblock content %}